/* General Styling */
.contact-container {
  background-color: #f8f9fa;
  padding-bottom: 50px;
}

/* Header Section */
.contact-header {
  background-color: #E77119;;
  color: #ffffff;
  padding: 40px 20px;
}

.contact-header h1 {
  font-size: 2.8rem;
}

.contact-header p {
  font-size: 1.2rem;
}

/* Donate Us Section */
.donate-us-section {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 40px 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.donate-us-section h2 {
  font-size: 2rem;
  color: #388E3C;
}

.qr-code {
  width: 150px;
  height: 150px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Contact Info Section */
.contact-info {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* Map Container */
.map-container {
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* Contact Form Section */
.contact-form {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.contact-form button {
  background-color: #0056b3;
  color: #ffffff;
  border: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.contact-form button:hover {
  background-color: #003f7f;
  transform: scale(1.05);
}
